.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;
	width: 100%;
	padding: 0 14px;
	border-radius: 1.5rem;
	outline: none;
	cursor: pointer;
	transition: 0.1s ease-in;
	min-height: 5rem;
	width: 11rem;
	box-shadow: 0px 1px 6px 1px rgba($color-primary, 0.5);

	& > span {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
}

.btn_filled {
	background-color: $color-primary;
	border: 1px solid $color-primary;
	color: white;

	&:disabled {
		color: white;
		// background-color: $color-primary-5;
		border-color: transparent;
	}
}
