html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	padding: 0;
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	font-size: 62.5%;
	line-height: 1.5;
	width: 100vw;
	overflow-x: hidden;
	height: -webkit-fill-available;
	height: 100dvh;
}

body {
	font-weight: 400;
	font-size: 1.8rem;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: $color-primary;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
	color: inherit;
	text-decoration: none;
}

.ubuntu {
	font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

.destination-cards-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-top: 3rem;

	& h2 {
		margin: 0;
	}

	.destination-swiper {
		overflow: visible;

		& .swiper-wrapper {
			padding: 0 0 2.5rem 0;
		}
	}
}

.swiper-pagination-bullet-active {
	background-color: $color-primary !important;
}

.ellipses {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
