$color-primary: #4a4e73;
$color-layout-bg: #f9f9f9;
$color-text-200: #696969;
$color-grey-1: #efefef;
$color-input-disabled: #f1f3f9;
$color-text-disabled: rgba(#000000, 38%);
$color-input-error: #cf0558;
$color-notification_bg: rgb(255, 86, 94);

$button-height: 45px;
$input-height: 45px;
$input-font-size: 16px;
